.users-list {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  width: 80%;
  margin: 10px 100px 0px 100px;
}

.create-btn {
  display: flex;
  justify-content: end;
  padding-right: 155px;
  padding-top: 20px;
}
